<div class="container-fluid p-0 position-relative">
  <img src="https://wallpapers.com/images/hd/american-movie-posters-z0puq43u0qbtr6j2.jpg" class="img-fluid opacity-25"
    alt="Hero Image">
  <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
    <h1 class="display-4 fw-bold text-uppercase">Welcome to AniFlix</h1>
    <p class="lead fw-semibold text-lowercase">Discover and Watch the Latest and Most Anticipated Anime Movies</p>
  </div>
</div>
<app-movie-list [movies]='movies'></app-movie-list>