nav {
  background-color: #112d4e;
  height: 80px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

label.logo {
  color: white;
  font-size: 35px;
  padding: 10px 100px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 60px;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #3f72af;
  transition: 0.5s;
}
