<section class="social-media">
  <h2>Social Media</h2>
  <div class="icon" style="display: flex; justify-content: center; gap: 20px; margin-top: 15px;">
    <a href="https://www.instagram.com/hanifmnh_/" title="Instagram" target="_blank">
      <img src="https://cdn-icons-png.flaticon.com/512/1400/1400829.png" alt="Instagram Icon">
    </a>
    <a href="https://wa.me/6287839400066" title="Whatsapp" target="_blank">
      <img src="https://static-00.iconduck.com/assets.00/whatsapp-icon-512x512-jtfg9vc0.png" alt="Whatsapp Icon">
    </a>
  </div>
</section>