<div class="container-fluid p-0 position-relative">
  <img src="https://wallpapers.com/images/featured/mobile-legends-v0u46grjbqc6h9ga.jpg"
    class="opacity-50 w-100 object-fit-cover" alt="Hero Image" style="height: 60vh;">
  <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
    <h1 class="display-6 fw-bold text-uppercase">Mobile Legends: Bang Bang Wiki</h1>
    <p class="lead fw-semibold text-lowercase">Welcome to Mobile Legends</p>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-between">
    <h2 class="mt-4 mb-0 fw-semibold text-white text-uppercase">List of Heroes</h2>
    <button class="btn mt-4 fw-medium button-hover" (click)="goToHeroForm()" style="background-color: #d0d4ff;">
      Add New Hero
    </button>
  </div>
  <div class="d-flex flex-wrap justify-content-start">
    <div *ngFor="let hero of heroes">
      <app-hero-list [heroesData]="hero"></app-hero-list>
    </div>
  </div>
</div>