.mentor-card {
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #f1faee;
  width: 20vw;
  border-radius: 20px;
  margin-bottom: 2vw;
}

.mentor-card:hover {
  transform: scale(1.1);
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1vw;
}

.title {
  font-size: 18px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
