.card-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 1vw;
  padding-bottom: 2vw;
  margin-top: 1vw;
  gap: 2vw;
}

.table-content {
  margin-top: 1vw;
}
