.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.user-card {
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  background-color: #f1faee;
}

.header {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.content {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 10px 0;
}
