<div class="container rounded-3 bg-warning">
  <div class="row my-5 ps-5" *ngIf="member">
    <div class="col-sm-9 py-4 text-white">
      <button class="btn btn-outline-dark shadow-sm mb-3" (click)="backToHome()">Back to Home</button>
      <h1 class="fw-semibold text-uppercase mb-0">{{member.nickname}}</h1>
      <h4 class="mb-2 opacity-75 fst-italic">{{member.fullname}}</h4>
      <div class="d-flex gap-3 fw-light fst-italic">
        <p class="mb-1">role <b class="fw-semibold">{{member.role}}</b></p>
        <span>|</span>
        <p class="mb-1">Age <b class="fw-semibold">{{member.age}}</b></p>
        <span>|</span>
        <p class="mb-2">Instagram <b class="fw-semibold">{{member.instagram}}</b></p>
        <span>|</span>
        <p class="mb-1">Email <b class="fw-semibold">{{member.email}}</b></p>
      </div>
      <div class="d-flex fw-light fst-italic">
        <p class="mb-1">Address <b class="fw-semibold">{{member.addresses.address}}</b></p>
        <p class="mb-1"><b class="fw-semibold">, {{member.addresses.city}}</b></p>
        <p class="mb-1"><b class="fw-semibold">, {{member.addresses.country}}</b></p>
      </div>
      <p class="mb-2 fw-light fst-italic">Zipcode <b class="fw-semibold">{{member.addresses.zipcode}}</b></p>
      <div class="d-flex gap-3">
        <button class="btn btn-light w-25 shadow-sm my-3">
          Edit <i class="bi bi-pencil-square"></i>
        </button>
        <button class="btn btn-danger w-25 shadow-sm my-3" (click)="deleteHero()">
          Delete <i class="bi bi-trash-fill"></i>
        </button>
      </div>
    </div>
    <div class="col-sm-3 p-3">
      <img [src]="member.imageUrl" class="img-fluid rounded-3 w-100" [alt]="member.nickname">
    </div>
  </div>
</div>