<div class="content">
  <h1>Light Cone</h1>
  <p>Light Cones are items that can be equipped by characters to boost their Base HP, Base ATK, and Base DEF and
    grantapassive ability to characters whose Path matches that of the Light Cone.</p>
  <p>All Light Cones have a rarity ranging between 3-star to 5-star, and Light Cones with a higher rarity have
    higherbase stats.</p>
  <p>Ways of obtaining Light Cones include, but are not limited to, completing quests, completing reward
    milestones,opening chests, and Warps.</p>
  <input type="text" placeholder="Search Light Cone" [(ngModel)]="searchText" (input)="searchCone()">
</div>