<div class="container-fluid p-0 position-relative">
  <img src="https://cdn.oneesports.id/cdn-data/sites/2/2021/11/RRQ-Logo.jpg" class="w-100 object-fit-cover"
    alt="Hero Image" style="height: 60vh;">
</div>
<div class="container">
  <h1 class="display-5 mt-4 mb-2 fw-semibold text-uppercase text-center">Team Members</h1>
  <div class="overflow-x-auto">
    <div class="d-flex flex-nowrap">
      <div *ngFor="let member of members">
        <app-member-list [membersData]="member"></app-member-list>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-dark w-100 mt-4 fw-medium sticky-bottom rounded-0" (click)="goToHeroForm()" style="height: 60px">
  Add New Members
</button>