body {
	font-family: 'Arial', sans-serif;
	background-color: #92c7cf;
}

.biography-container {
	background-color: white;
	max-width: 600px;
	margin: 120px auto;
	padding: 20px;
	border: 1px solid #e5e1da;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
}

h2 {
	margin-bottom: 10px;
}

p {
	line-height: 1.5;
	text-align: justify;
}

p span:first-child {
	font-size: larger;
}

p span {
	font-weight: bold;
}
