@import url("https://fonts.cdnfonts.com/css/motiva-sans");

* {
  font-family: "Motiva Sans", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #212529;
}
